h1 {
   margin: 0 10px;
}
.header {
   display: none;
}

.display-header {
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(rgb(247, 166, 166), orange);
}
@media screen and (min-width: 600px) {
   .header {
      height: 15vh;
      background: linear-gradient(rgb(247, 166, 166), orange);
      color: black;
      display: flex;
      align-items: center;
      position: fixed;
      z-index: 2;
      width: 100%;
   }
   .mobile-header {
      display: none;
   }
}
