.header {
   height: 15vh;
   background: linear-gradient( rgb(247, 166, 166),orange);
   color: black;
   display: flex;
   align-items: center;
}
.header > h1
{
   color: white;
   margin: 0 10px;
}
